.table-striped th {
    line-height: 38px;
    text-align: center;
    font-size: 13px;
}

.table-striped td{
    line-height: 30px !important;
    text-align: center;
    font-size: 13px;
}


#group_add td {
    padding: 5px;
}


#error_msg {
    color: red;
    font-size: 12px;
}

.modal-table tbody tr td {
    padding: 5px;
}

.modal-table tbody tr td a {
    margin: 0 10px;
    font-size: 13px;
}

div.dataTables_length,div.dataTables_info {
    margin-left: 10px !important;
}

div.dataTables_filter,div#container-table_paginate {
    margin-right: 10px !important;
}

table#container-table td {
    font-size: 14px !important;
}

.deploy-table tbody tr td,th {
    text-align: center;
    vertical-align: middle;
}

.svc-table tbody tr td,th {
    text-align: center;
    vertical-align: middle;
}

.menu div i {
    margin-right: 5px;
}

.my-modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.6);
	z-index: 1050;
}

.my-modal-header {
    border-bottom: solid 1px rgba(34, 36, 38, 0.14902);
}

.my-modal-title {
    margin: 0;
    padding: 10px;
    text-align: left;
}

.my-modal-content {
    padding: 10px;
    text-align: left;
}
.my-modal-dialog {
	width: 40%;
	margin: 200px auto 0;
	background: white;
	padding: 20px;
	border-radius: 10px;
}