{% extends 'base.html' %}
{% block title %}AdminLTE | 查看用户{% endblock %}
{% block content %}
    <section class="content-header">
        <h1>Dashboard</h1>
        <ol class="breadcrumb" style="top: 40px;left: 20px;">
            <li>
                <a href="#"><i class="fa fa-dashboard"></i>菜单</a>
            </li>
            <li class="active">权限管理</li>
            <li class="active">查看用户</li>
        </ol>
    </section>
    <section class="content container-fluid">
        <div class="box-header">小组列表</div>
        <div class="box-body">
            <div class="dataTables_wrapper form-inline dt-bootstrap">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>用户名</th>
                        <th>用户角色</th>
                        <th>上次登录时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in user_list %}
                        <tr uid={{ user.id }}>
                            <td>{{ forloop.counter }}</td>
                            <td class="user_name">{{ user.last_name }}{{ user.first_name }}</td>
                            {% if user.is_superuser %}
                                <td>管理员</td>
                            {% else %}
                                <td>普通用户</td>
                            {% endif %}
                            <td>{{ user.last_login }}</td>
                            <td>
                                <button type="button" class="btn btn-success btn-sm edit-btn" data-toggle="modal"
                                        data-target="#editModal">编辑
                                </button>
                                <button type="button" class="btn btn-danger btn-sm del-btn">删除</button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-content">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h5 class="modal-title" id="editModalLabel">编辑&nbsp;&nbsp;-&nbsp;&nbsp;{{ user.last_name }}{{ user.first_name }}</h5>
                    </div>
                    <div class="modal-body">
                        <table id="user_info" class="modal-table" style="width: 100%">
                            <tbody>
                            <tr>
                                <td style="text-align: center;"><a>用户名：&nbsp;</a></td>
                                <td><a uid="{{ user.id }}">{{ user.last_name }}{{ user.first_name }}</a></td>
                            </tr>
                            <tr>
                                <td style="text-align: center;"><a>用户角色：&nbsp;</a></td>
                                <td>
                                    <a><input id="11" value="0" type="radio" name="iCheck_Role" > 普通用户</a>
                                    <a><input id="12" value="1" type="radio" name="iCheck_Role" checked> 系统管理员</a>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: center;"><a>用户状态：&nbsp;</a></td>
                                <td>
                                    <a><input value="0" type="radio" name="iCheck_Stat" > 禁止登录</a>
                                    <a><input value="1" type="radio" name="iCheck_Stat" checked> 允许登录</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary">提交更改</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>
    </section>
{% endblock %}

{% block script %}
    <script src="/static/js/icheck.min.js"></script>
    <script src="/static/js/fm.selectator.jquery.js"></script>
    <script>
        $(function () {
            $('.table-striped').DataTable({
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': true
            });
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' /* optional */
            });
            $(".btn-primary").click(function () {
                var data = {
                    uid: $('a[uid]').attr('uid'),
                    role: '1',
                    stat: '1'
                };
                $("input[name=iCheck_Role]").each(function () {
                    if($(this).is(':checked')) {
                        data['role'] = $(this).val();
                    }
                });
                $("input[name=iCheck_Stat]").each(function () {
                    if($(this).is(':checked')) {
                        data['stat'] = $(this).val();
                    }
                });
                $.ajax({
                    url: "/user/info",
                    type: "POST",
                    dataType: "JSON",
                    traditional: true,
                    data: data,
                    success: function (data) {
                        location.reload();
                    }
                })
            });
        });
    </script>
{% endblock %}